.trip-create {
    display: flex;
    align-items: stretch;
}

.trip-create-background {
    width: 40%;
    background: url('../../../assets/images/mountain-hills.jpg') center / cover no-repeat;
}

.trip-create-form {
    display: grid;
    padding: 2rem;
    padding-left: 6rem;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em 1em;
}

.trip-create-description {
    grid-column: span 2;
}

.trip-create-submit {
    grid-row: 6;
}

@media only screen and (max-width: 1024px) {
    .trip-create {
        flex-direction: column-reverse;
    }

    .trip-create-background {
        width: 100%;
        height: 400px;
        background: url('../../../assets/images/mountain-hills.jpg') center / cover no-repeat;
    }

    .trip-create-form {
        padding: 2rem;
    }
}