.trip-rating {
    display: flex;
    align-items: center;
    gap: .25em;
    padding: .25em 0 .75em 0;
}

.trip-rating-icons-container {
    display: flex;
    align-items: center;
}

.trip-rating-icon, .trip-rating-close {
    cursor: pointer;
}

.trip-rating-icon.highlighted {
    color: #f5bd45;
}