body {
    background-color: #dae2ef;
}

.app-wrapper {
    display: flex;
    gap: 1.25rem;
}

nav, main {
    min-height: 100vh;
    padding: 1rem 0;
    background-color: white;
}

nav {
    border-right: 1px solid #cdd6e3;
}

main {
    flex-grow: 1;
    border-left: 1px solid #cdd6e3;
}

.nav-list {
    width: 280px;
    list-style-type: none;
    padding-right: .75rem;
    color: #213760;
    text-transform: uppercase;
    transition: width .3s ease .15s;
}

.nav-item {
    padding: .25rem 0;
    position: relative;
}

.nav-anchor {
    display: block;
    padding: .25rem 0 .25rem 1rem;
    position: relative;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color .2s ease;
}

.nav-anchor:hover {
    background-color: #36a2ea;
}

.nav-anchor:hover i {
    color: white;
    border-color: white;
}

.nav-anchor i {
    display: inline-block;
    width: calc(2rem + 5px);
    padding: .25rem 0;
    font-size: 1.5rem;
    border: 3px solid #213760;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    transition: color .2s ease, border-color .2s ease;
}

.nav-text {
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 3.75rem;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease, visibility .25s ease;
}

.nav-bubble {
    margin-left: .5rem;
    padding: .2rem .6rem;
    color: #36a2ea;
    font-size: .85rem;
    font-weight: 400;
    border: 1px solid #36a2ea;
    border-radius: 666rem;
    position: absolute;
    top: 50%;
    left: 214px;
    transform: translateY(-50%);
    transition: left .3s ease;
}

@media (max-width: 1024px) {
    .app-wrapper {
        gap: .5rem;
    }

    .nav-list {
        width: 124px;
    }

    .nav-text {
        opacity: 0;
        visibility: hidden;
    }

    .nav-bubble {
        left: 66px;
    }
}

@media (min-width: 1025px) {
    .nav-anchor {
        width: 214px;
    }

    .nav-text {
        transition-delay: .2s;
    }
}