<div class="homepage">
    <header class="homepage-header">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Travel <strong>faster</strong>, travel <strong>more</strong></h1>
                <p class="header-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, alias. Tempora ea magni a deleniti obcaecati, ipsum ipsa harum numquam voluptates non laborum eos iusto officiis error eligendi, aliquid facilis cumque fugiat quia, culpa inventore. Beatae dicta veniam quasi itaque.</p>
                <a routerLink="trips" class="button">See for yourself</a>
            </div>
        </div>
    </header>
    <div class="homepage-contact">
        <div class="contact-map-wrapper">
            <iframe
                class="contact-map"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBeZYrs9yd4Vdyq04XB1uE_stpZ3aepeWg
                &q=Eiffel+Tower"
            ></iframe>
        </div>
        <div class="contact-details-wrapper container">
            <div class="contact-details">
                <div class="contact-details-address-field contact-details-field">
                    <p class="field-title"><mat-icon>home</mat-icon>Our address</p>
                    <p class="field-text">Eiffel Tower</p>
                    <p class="field-text">Champ de Mars, 5 Av. Anatole France</p>
                    <p class="field-text">75007 Paris, France</p>
                </div>
                <div class="contact-details-email-field contact-details-field">
                    <p class="field-title"><mat-icon>mail</mat-icon>Email</p>
                    <p class="field-text">eiffel.tower@eiffel.tower.pl</p>
                </div>
                <div class="contact-details-phone-field contact-details-field">
                    <p class="field-title"><mat-icon>call</mat-icon>Telephone</p>
                    <p class="field-text">+44 213 700 000</p>
                </div>
            </div>
        </div>
    </div>
</div>