<nav class="navigation">
	<ul class="navigation-list">
		<li class="navigation-item">
			<a class="navigation-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
		</li>
		<li class="navigation-item">
			<a class="navigation-link" routerLink="/posts" routerLinkActive="active">Posts</a>
		</li>
		<li class="navigation-item">
			<a class="navigation-link" routerLink="/photos" routerLinkActive="active">Photos</a>
		</li>
	</ul>
</nav>
<router-outlet></router-outlet>