.image-slider {
    position: relative;

    & .image-slide {
        display: none;
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &.active {
            display: block;
        }

        & img {
            width: 100%;
        }
    }

    & .image-slider-navigation {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    & .image-slider-navigation-button {
        color: white;
        background-color: transparent;
        border: none;
        appearance: none;
        cursor: pointer;

        & .mat-icon {
            width: 48px;
            height: 48px;
            font-size: 44px;
        }
    }
}