:root {
    --text-color-1: #161616;
    --text-color-2: #323232;
    --text-color-3: #525252;
    --text-color-4: #777777;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f6f6f6;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}