:root {
    --text-color-1: #161616;
    --text-color-2: #323232;
    --text-color-3: #525252;
    --text-color-4: #777777;
    --text-color-5: #d8d8d8;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f6f6f6;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button {
    display: flex;
    padding: 1em 4em;
    color: #f0f0f0;
    background-color: #3f51b5;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 2137px;
    text-decoration: none;
    transition: background-color .2s ease;
    cursor: pointer;

    &:hover {
        background-color: #475bcc;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}