:root {
    --main-color: #1e87f0;
    --main-dark-color: #363636;
    --secondary-dark-color: #242424;
    --tertiary-dark-color: #2e2e2e;
    --dark-light-color: #444444;
}

body {
    min-height: 100vh;
    background-color: #363636;
}

.countries-container {
    display: flex;
    color: #f0f0f0;
}

.filter-container {
    width: 250px;
    border-right: 1px solid var(--dark-light-color);
}

.filter-title {
    padding: 23px 1em;
    font-weight: 600;
    background-color: var(--tertiary-dark-color);
    border-bottom: 1px solid var(--dark-light-color);
}

.filter-form {
    padding: 0 1em;
}

.filter-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 1em;
    list-style-type: none;
}

.filter-input {
    border-width: 2px;
}

.filter-input-item {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.filter-input-container {
    display: flex;
    align-items: center;
    gap: .5em;
}

.filter-input-container span {
    width: 1em;
    height: 3px;
    background-color: #f0f0f0;
}

.filter-submit {
    margin-top: 2.5em;
}

.countries-list {
    min-height: 100vh;
    flex: 1;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    background-color: var(--tertiary-dark-color);
}

.list-item > .item-content {
    height: 90px;
    border-bottom: 1px solid var(--main-dark-color);
    transition: background-color .2s ease;
    cursor: pointer;
}

.list-item > .item-content:hover {
    background-color: var(--main-color);
}

.list-header > .item-content:hover {
    background-color: inherit;
}

.list-header > .item-content, .list-item:last-child > .item-content {
    border-bottom: none;
}

.list-subitem {
    background-color: var(--main-dark-color);
}

.list-subitem > .item-content {
    border-bottom: 1px solid var(--dark-light-color);
}

.list-subitem:first-child > .item-content {
    border-top: 1px solid var(--dark-light-color);
}

.list-header {
    padding: 1.25em 2em;
    color: #f0f0f0;
    background-color: var(--secondary-dark-color);
    font-weight: 600;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .25);
    position: sticky;
    top: 0;
}

.list-header .item-content {
    height: auto;
    padding: 0;
}

.list-header .item-content span {
    display: inline-flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
    user-select: none;
}

.list-header .item-content span::after {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

.list-header .item-content span.sorted-ascending::after {
    content: '\f077';
}

.list-header .item-content span.sorted-descending::after {
    content: '\f078';
}

.item-content {
    display: flex;
    align-items: center;
    padding: 0 2em;
}

.item-content > * {
    margin: 0;
}

.item-name {
    width: 40%;
}

.item-capital {
    width: 25%;
}

.item-population {
    width: 17.5%;
}

.item-area {
    width: 17.5%;
}

.item-show-button {
    display: flex;
    width: 42px;
    height: 42px;
    color: white;
    background-color: transparent;
    border: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-show-button.dummy-container {
    height: 30px;
}

.list-item .item-show-button > .icon-hide {
    display: none;
}

.list-item.active .item-show-button > .icon-show {
    display: none;
}

.list-item.active .item-show-button > .icon-hide {
    display: block;
}

.item-list {
    display: none;
    padding : 0;
    flex-direction: column;
    color: #b9b9b9;
    list-style-type: none;
}

.list-item.active .item-list {
    display: flex;
}