:root {
    --white-primary-color:      white;
    --white-secondary-color:    #fbfbfb;
    --purple-primary-color:     #7b2cbf;
    --purple-secondary-color:   #8c3bd2;
    --orange-primary-color:     #ff9e00;
    --orange-secondary-color:   #f7a41f;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    position: relative;
}

.app-wrapper {
    padding: 3rem;
    padding-bottom: 200px;
}

div.button {
    margin: 0 auto;
    cursor: pointer;
    transition: background-color .25s ease;
}

.button[data-enabled="false"] {
    cursor: default;
}

.button-1 {
    width: 256px;
    height: 256px;
    padding-top: 96px;
    background-color: var(--white-primary-color);
}

.button-1:hover {
    background-color: var(--white-secondary-color);
}

.button-1[data-enabled="false"] {
    background-color: #d4d4d4;
}

.button-2 {
    width: 128px;
    height: 128px;
    padding-top: 48px;
    background-color: var(--purple-primary-color);
}

.button-2:hover {
    background-color: var(--purple-secondary-color);
}

.button-2[data-enabled="false"] {
    background-color: #565656;
}

.button-3 {
    width: 64px;
    height: 64px;
    background-color: var(--orange-primary-color);
}

.button-3:hover {
    background-color: var(--orange-secondary-color);
}

.button-3[data-enabled="false"] {
    background-color: #353535;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: .5rem;
}

.counter-container {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.message-container {
    width: 400px;
    min-height: 214px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.message-row {
    display: flex;
    margin: .25em 0;
    gap: .5em;
}

.message-row > * {
    margin: 0;
}

.message-label {
    width: 4.5em;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.message-label.white {
    color: #333;
    background-color: var(--white-secondary-color);
}

.message-label.purple {
    background-color: var(--purple-primary-color);
}

.message-label.orange {
    background-color: var(--orange-primary-color);
}