nav {
    color: white;
    background-color: #36c7f3;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.nav-logo > span {
    font-weight: bold;
}

.nav-list {
    display: flex;
    margin: 0 auto;
    gap: .5rem;
}

.nav-list, .nav-sublist {
    list-style-type: none;
    white-space: nowrap;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    width: 16px;
    border: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease, visibility .25s ease, transform .25s ease;
    z-index: 1;
}

.nav-item.has-sublist:hover::after {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

.nav-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.5rem 1rem;
    transition: background-color .25s ease;
}

.nav-item:hover .nav-link {
    background-color: #f0409e;
}

.nav-item.has-sublist .nav-link::before {
    content: '';
    display: block;
    width: 12px;
    margin-left: .5rem;
    border: 6px solid transparent;
    border-top: 6px solid white;
    transform: translateY(.2rem);
}

.nav-sublist {
    color: #617176;
    position: absolute;
    top: 100%;
    left: -1rem;
    z-index: 1;
    transform: translateY(2rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease, visibility .25s ease, transform .25s ease;
}

.nav-item:hover .nav-sublist {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

}

.nav-subitem {
    background-color: white;
    transition: background-color .15s ease;
}

.nav-subitem:not(:last-child) {
    border-bottom: 1px solid #e5eaec;
}

.nav-subitem:hover {
    background-color: #f2f5f7;
}

.nav-sublink {
    display: block;
    padding: .5rem 1.25rem;
}

.btn {
    display: block;
    padding: .3rem 1.25rem;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 666rem;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease;
}

.btn-border {
    border: 3px solid white;
}

.btn-full {
    color: #36c7f3;
    background-color: white;
}

.btn-full:hover {
    color: white;
    background-color: #f0409e;
    border-color: #f0409e;
}

.btn-border {
    margin-right: .5rem;
}

.btn-border:hover {
    background-color: #f0409e;
    border-color: #f0409e;
}

header {
    height: 600px;
    background: url('images/background.jpg') no-repeat center / cover;
    position: relative;
}

header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 148, 226, .25);
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    
}