.trips {
    display: flex;
    background-color: #fcfcfc;
}

.trips-filter-container {
    width: 310px;
    height: 100%;
}

.trips-container {
    flex: 1;
    padding: 1rem 2rem;
    background-color: #f6f6f6;
}

.trips-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.trips-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}