.posts-add-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 4rem 0;
}

@media only screen and (max-width: 768px) {
    .posts-add-form {
        grid-template-columns: 1fr;
    }
}