<div *ngIf="data" [ngClass]="['trip', (isMostExpensive ? 'most-expensive' : ''), (isCheapest ? 'cheapest' : '')]">
    <img src="{{ data.images.thumbnailURL }}" class="trip-preview" alt="Preview">
    
    <div class="trip-content-container">
        <div class="trip-title-container f-container">
            <p class="trip-title content">{{ data.name }}</p>
            <p class="trip-country content" matTooltip="Destination country"><mat-icon>location_on</mat-icon> {{ data.country | uppercase }}</p>
        </div>
        <div class="trip-rating-container f-container">
            <p class="trip-rating content" matTooltip="Average rating">{{ averageReviewValue | number: '1.0-2' }} <mat-icon>star</mat-icon></p>
            <p class="trip-ratings-number content">({{ data.reviews.length }})</p>
        </div>
        <div class="trip-date-container f-container">
            <p class="trip-start-date content" matTooltip="Start date"><mat-icon>event</mat-icon> {{ data.startDate | date }}</p>
            <span class="trip-date-separator">―</span>
            <p class="trip-end-date content" matTooltip="End date"><mat-icon>event</mat-icon> {{ data.endDate | date }}</p>
        </div>
        <div class="trip-info-container f-container">
            <p class="trip-unit-price content" matTooltip="Price for 1 person"><mat-icon>payments</mat-icon> {{ data.unitPrice | currency:'GBP' }}</p>
            <p class="trip-spots-number content" matTooltip="Maximum number of spots"><mat-icon>group</mat-icon> {{ data.spotsNumber }}</p>
            <p *ngIf="isAuthenticated()" [ngClass]="['trip-spots-reserved', 'content', (data.purchasedSpotsNumber + spotsNumbers.reserved >= 10 ? 'green' : 'red')]" matTooltip="Reserved number of spots">
                <mat-icon>no_accounts</mat-icon> {{ spotsNumbers.reserved }} / {{ spotsNumbers.available }}
            </p>
        </div>
        <a *ngIf="isAuthenticated()" [routerLink]="['..', 'trip', 'details', i]" mat-raised-button color="primary" class="trip-read-more">Read more</a>
    </div>
    
    <div *ngIf="isAuthenticated()" class="trip-buttons-container">
        <button mat-raised-button color="{{ spotsNumbers.available - spotsNumbers.reserved > 3 ? 'primary' : 'warn' }}" class="trip-button" (click)="book()" disabled="{{ spotsNumbers.reserved < spotsNumbers.available ? false : true }}">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="trip-button" (click)="unbook()" disabled="{{ spotsNumbers.reserved > 0 ? false : true }}">
            <mat-icon>remove</mat-icon>
        </button>
        <button *ngIf="getPermissionsLevel() === 'TRIPS_MANAGER'" mat-raised-button color="warn" class="trip-button" (click)="delete()">
            <mat-icon>delete_sweep</mat-icon>
        </button>
    </div>
</div>