<div class="trips">
    <app-trips-filter
        class="trips-filter-container"
        [trips]="trips"
        [price]="{lowest: minUnitPrice, highest: maxUnitPrice}"
        (filterEvent)="onFilter($event)"
    ></app-trips-filter>
    <div class="trips-container">
        <h3 class="trips-title">Trips</h3>
        <ul class="trips-list">
            <li *ngFor="let trip of trips | tripsFilter:filters; let i = index" class="trips-item">
                <app-trip
                    [i]="i"
                    [isMostExpensive]="trip.unitPrice === maxUnitPrice"
                    [isCheapest]="trip.unitPrice === minUnitPrice"
                >
                </app-trip>
            </li>
        </ul>
    </div>
</div>