.trips {
    display: flex;
}

.trips-filter-container {
    width: 20%;
}

.trips-container {
    flex: 1;
}

.trips-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}