<nav class="navigation">
    <!-- <p class="logo">Jakub Szaredko</p> -->
    <ul class="navigation-list">
        <li class="navigation-item"><a routerLink=""class="navigation-link item-1">Home</a></li>
        <li class="navigation-item"><a routerLink="trips" class="navigation-link item-2">Trips</a></li>
        <li class="navigation-item"><a routerLink="trips/create" class="navigation-link item-3">Create new trip</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link item-4">Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link item-5">Contact me</a></li> -->
    </ul>
    <label class="navigation-button">
        <i class="navigation-icon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </i>
    </label>
</nav>